@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.h1-style2 {
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto';
    padding-left: 10px; 
}

.about-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 40px;
}


.img-style {
    border-radius: 10px;
    width: 550px;
    height: 400px;
}

.p2 {
    margin-left: 60px;
    max-width: 100ch;
    color: black;
}

.about-div3 { 
    flex-Direction: row; 
    display: flex; 
    margin-Left: 32px; 
    padding-Left: 32px; 
    margin-Top:50px;
}

/* Styles for the container div */
.timeline-container {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 80px;
}

/* Styles for the h2 heading */
.timeline-heading {
    margin: 0 0 5px 0; /* shorthand for margin-top, margin-right, margin-bottom, margin-left */
    text-align: left;
    color: black;
}

/* Styles for the paragraph */
.timeline-text {
    margin: 0;
    font-size: 12px;
    text-align: left;
    color: black;
}

.outer-div{
    background-color: #3498DB;
    padding: 10px;
    padding-bottom: 30px;
    background-image: url('../img/about-bg-3.jpg');
    background-size: cover; /* Resize the background image to cover the entire element */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

.comp-header{
    text-align: left;
    margin-left: 60px;
}

.comp-header{
    border-radius: 10px;
    background-color: #333;
    width: fit-content;
    padding: 10px;
    color: white;
    font-weight: 600;
}

.div-main {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

@media (max-width: 600px) {
    .about-div {
        flex-direction: column; /* Override flex-direction for small screens */
        padding-top: 10px; /* Reset padding-top */
    }


    .p2 {
        margin-left: 10px; /* Reset margin-left */
        max-width: none; /* Reset max-width */
    }

    .comp-header {
        margin-left: 10px; /* Reset margin-left */
    }

    .about-div3 {
        margin-left: 10px; /* Reset margin-left */
        padding-left: 10px; /* Reset padding-left */
        margin-top: 0; /* Reset margin-top */
    }

    .img-style{
        margin-left: 10px;
    }

    .h1-style2 {
        text-align: center;
    }

    .div-main{
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
    }
}
/* nice 

